In [3]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\gihan\pycharmprojects\fastapiproject\.venv\lib\site-packages (1.26.3)
Requirement already satisfied: pandas in c:\users\gihan\pycharmprojects\fastapiproject\.venv\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\gihan\pycharmprojects\fastapiproject\.venv\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gihan\pycharmprojects\fastapiproject\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gihan\pycharmprojects\fastapiproject\.venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gihan\pycharmprojects\fastapiproject\.venv\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\gihan\pycharmprojects\fastapiproject\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import numpy as np
import pandas as pd

In [8]:
path = '../dataset/vehicle_prediction.csv'
data = pd.read_csv(path, encoding='latin-1')

In [9]:
data.head()

,brand,model,model_year,milage,mileage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,selling_price
0,Audi,A3 2.0 TDI Premium Plus,2015,"83,000 mi.",83000,Diesel,150.0HP 2.0L 4 Cylinder Engine Diesel Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$18,999",18999
1,Dodge,Sprinter 2500 High Roof,2004,"55,000 mi.",55000,Diesel,154.0HP 2.7L 5 Cylinder Engine Diesel Fuel,A/T,White,Gray,None reported,Yes,"$24,000",24000
2,Mercedes-Benz,Sprinter 3500 High Roof,2022,105 mi.,105,Diesel,161.0HP 2.0L 4 Cylinder Engine Diesel Fuel,7-Speed A/T,Black,Orange,None reported,Yes,"$200,000",200000
3,Mercedes-Benz,Sprinter 2500,2016,"139,200 mi.",139200,Diesel,161.0HP 2.1L 4 Cylinder Engine Diesel Fuel,A/T,White,Black,At least 1 accident or damage reported,Yes,"$22,000",22000
4,Mercedes-Benz,Sprinter 2500,2016,"143,290 mi.",143290,Diesel,161.0HP 2.1L 4 Cylinder Engine Diesel Fuel,A/T,White,Black,None reported,Yes,"$33,490",33490

In [10]:
data.shape

(4009, 14)

In [11]:
data.isnull()

,brand,model,model_year,milage,mileage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,selling_price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4005,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4006,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4007,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4008,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
data.isnull().sum()

brand            0
model            0
model_year       0
milage           0
mileage          0
fuel_type        0
engine           0
transmission     0
ext_col          0
int_col          0
accident         0
clean_title      0
price            0
selling_price    0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          4009 non-null   object
 1   model          4009 non-null   object
 2   model_year     4009 non-null   int64
 3   milage         4009 non-null   object
 4   mileage        4009 non-null   int64
 5   fuel_type      4009 non-null   object
 6   engine         4009 non-null   object
 7   transmission   4009 non-null   object
 8   ext_col        4009 non-null   object
 9   int_col        4009 non-null   object
 10  accident       4009 non-null   object
 11  clean_title    4009 non-null   object
 12  price          4009 non-null   object
 13  selling_price  4009 non-null   int64
dtypes: int64(3), object(11)
memory usage: 438.6+ KB

In [23]:
data.head(2)

,brand,model,model_year,milage,mileage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,selling_price
0,Audi,A3 2.0 TDI Premium Plus,2015,"83,000 mi.",83000,Diesel,150.0HP 2.0L 4 Cylinder Engine Diesel Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$18,999",18999
1,Dodge,Sprinter 2500 High Roof,2004,"55,000 mi.",55000,Diesel,154.0HP 2.7L 5 Cylinder Engine Diesel Fuel,A/T,White,Gray,None reported,Yes,"$24,000",24000

In [24]:
data.corr()['selling_price']

ValueError: could not convert string to float: 'Audi'